#Ejercicio 1
#Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [ ]:
import pandas as pd

In [ ]:
inicial = int(input('Escriba el año inicial: '))
final = int(input('Escriba el año final: '))
venta = {}
for i in range(inicial, final+1):
    venta[i] = float(input('Escriba las ventas anuales,' + str(i) +': '))
venta = pd.Series(venta)
print('Venta\n', venta)
print('Venta con descuento\n', venta*0.9)

#Ejercicio 2
#Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [ ]:
import pandas as pd

In [ ]:
def diccionario(notas):
    notas = pd.serie(notas)
    estadisticas = pd.serie([notas.min(), notas.max(), 
                              notas.mean(), notas.std()], index=['Min', 'Max', 'Media', 'Desviación típica'])
    return estadisticas

notas = {'Marcelo':10, 'Reyna':9.5, 'Caleb':7, 
         'Itzayane': 9, 'Alessandra': 8.5}
print(diccionario(notas))

#Ejercicio 3
Escribir una función que reciba undiccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:
import pandas as pd

In [ ]:
def diccionario2(notas):
    notas = pd.Series(notas)
     
    return notas[notas >= 5].sort_values(ascending=False)
notas = {'Marcelo':10, 'Reyna':9.5, 'Caleb':7, 
         'Itzayane': 9, 'Alessandra': 8.5}
print(diccionario2(notas))

#Ejercicio 4
#Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
#Mes      Ventas  Gastos 
#Enero    30500   22000
#Febrero  35600   23400
#Marzo    28300   18100
#Abril    33900   20700

In [ ]:
import pandas as pd

In [ ]:
diccionarioD = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 
                   'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
form = pd.DataFrame(diccionarioD)
print(form)

# Ejercicio 5
#Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, ydevuelva el balance (ventas -gastos) total en los meses indicados.

In [ ]:
import pandas as pd

In [ ]:
diccionarioD= {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 
                   'Ventas':[30500, 35600, 28300, 33900], 
                   'Gastos':[22000, 23400, 18100, 20700]}

form = pd.DataFrame(diccionario_dat)

def balance(form, meses):
    form['Balance'] = form.Ventas - form.Gastos
    return form[form.Mes.isin(meses)].Balance.sum()

print(balance(form, ['Enero','Abril']))

# Ejercicio 6 

#El fichero cotizacion.csvcontiene las cotizaciones delas empresas del IBEX35 con las siguientes columnas: nombre(nombre de la empresa), Final(precio de la acción al cierre de bolsa), Máximo(precio máximo de la acción durante la jornada), Mínimo(precio mínimo de la acción durante la jornada), volumen(Volumen al cierre de bolsa), Efectivo(capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir deun fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Usuario\Downloads\cotizacion 1.csv")
print(df)

                                                                                                                      Nombre;Final;Máximo;Mínimo;Volumen;Efectivo
ACCIONA;95                                95;96                       75;94                     4;84.962;8166                                                11.0
ACERINOX;8668;8672;8468;885.99;7633       81                          NaN                       NaN                                                           NaN
ACS;37                                    28;37                       66;37                     22;655.982;24517                                             29.0
AENA;167                                  1;167                       5;166                     1;133.738;22336                                              10.0
AMADEUS;69                                96;70                       64;69                     56;640.476;44795                                             47.0
ARCELORMIT.;14152;14318;14                08;702.841;9989             65                        NaN                                                           NaN
BA.SABADELL;1                             0165;1033;1                 0165;12.358.512;12637     65                                                            NaN
BA.SANTANDER;4                            02;4                        0675;4                    01;36.129.692;145765                                         44.0
BANKIA;2249;2262;2224;3.024.454;6803      54                          NaN                       NaN                                                           NaN
BANKINTER;6                               56;6604;6522;1.375.976;9030 20                        NaN                                                           NaN
BBVA;5024;5                               05;4969;26.447.612;132560   15                        NaN                                                           NaN
CAIXABANK;2763;2806;2762;13.031.097;36239 22                          NaN                       NaN                                                           NaN
CELLNEX;30                                17;30                       7;30                      17;857.237;25965                                             29.0
CIE AUTOMOT.;23                           44;23                       74;23                     4;99.506;2343                                                 9.0
ENAGAS;25                                 6;25                        66;25                     07;842.54;21524                                              77.0
ENCE;3882;3974;3846;2.099.698;8219        83                          NaN                       NaN                                                           NaN
ENDESA;22                                 95;23                       03;22                     62;1.236.799;28233                                           46.0
FERROVIAL;21                              61;21                       72;21                     38;2.065.931;44656                                            5.0
GRIFOLS CL.A;23                           3;23                        6;23                      27;719.503;16787                                             55.0
IAG;5                                     3;5                         46;5292;2.155.081;11561   95                                                            NaN
IBERDROLA;8                               45;8                        45;8262;15.637.958;131426 05                                                            NaN
INDITEX;24                                93;25                       19;24                     87;2.600.144;65012                                           92.0
INDRA A;9                                 56;9685;9535;392.06;3755    57                        NaN                                                           NaN
INM.COLONIAL;9915;9915;9745;671.753;6640  38                          NaN                       NaN                                                           NaN
MAPFRE;2654;2654;2                        62;3.045.972;8063           13                        NaN                                                           NaN
MEDIASET;6446;6592;6446;2.647.557;17277   04                          NaN                       NaN                                                           NaN
MELIA HOTELS;8                            14;8                        19;8                      02;480.21;3914                                               93.0
MERLIN;12                                 08;12                       08;11                     83;777.543;9357                                              77.0
NATURGY;26                                7;26                        77;26                     53;2.100.737;55986                                           54.0
R.E.C.;19705;19875;19675;1.246.171;24585  33                          NaN                       NaN                                                           NaN
REPSOL;14515;14605;14                     46;5.046.648;73333          78                        NaN                                                           NaN
SIEMENS GAME;14                           33;14                       39;14155;1.054.847;15084  56                                                            NaN
TEC.REUNIDAS;23;23                        2;22                        78;122.1;2807             19                                                            NaN
TELEFONICA;7204;7256;7185;9.913.249;71564 99                          NaN                       NaN                                                           NaN
VISCOFAN;48                               46;49                       12;48                     46;67.71;3295                                                43.0

In [ ]:
import pandas as pd

def csvcotizacion1(fichero):
    df = pd.read_csv(fichero, sep=';', 
                     decimal=',', thousands='.', index_col=0)
    return pd.DataFrame([df.min(), df.max(), 
                         df.mean()], index=['Mínimo', 'Máximo', 'Media'])

csvcotizacion1('cotizacion 1.csv')

In [12]:
import pandas as pd
titan = pd.read_csv(r"C:\Users\Usuario\Downloads\titanic 1.csv")
titan2 = pd.concat([titan])
titan2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
print('Dimensiones:', titan.shape)
print('Número de elemntos:', titan.size)
print('Nombres de columnas:', titan.columns)
print('Nombres de filas:', titan.index)
print('Tipos de datos:\n', titan.dtypes)
print('Primeras 10 filas:\n', titan.head(10))
print('Últimas 10 filas:\n', titan.tail(10))

Dimensiones: (891, 12)
Número de elemntos: 10692
Nombres de columnas: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Nombres de filas: RangeIndex(start=0, stop=891, step=1)
Tipos de datos:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
Últimas 10 filas:
      PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

In [15]:
#3. Mostrar por pantalla los datos del pasajero con identificador 148
print(titan.loc[148])

PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object

In [ ]:
#4. Mostrar por pantalla las filas pares del DataFrame.
print(titan.iloc[range(0,titan.shape[0],2)])

In [ ]:
#5. Mostrar los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
print(titan[titan["Pclass"]==1]['Name'].sort_values())

In [ ]:
#6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron
print(titan['Survived'].value_counts()/titan['Survived'].count() * 100)

In [ ]:
#7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase
print(titan.groupby('Pclass')['Survived'].value_counts(normalize=True))

In [ ]:
#8. Eliminar del DataFrame los pasajeros con edad desconocida.
titan.dropna(subset=['Age'])

In [ ]:
#9. Mostrar la edad media de las mujeres que viajaban en cada clase.
print(titan.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female'])

In [ ]:
#10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
titan['Young'] = titan['Age'] < 18

In [ ]:
#11. Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
print(titan.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True) * 100)

# Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csvy emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

In [24]:
import pandas as pd
emisiones16 = pd.read_csv(r"C:\Users\Usuario\Downloads\emisiones-2016 1.csv", sep = ';')
print(emisiones16)

      PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO   ANO  MES  \
0            28         79         4         1  28079004_1_38  2016    1
1            28         79         4         1  28079004_1_38  2016    2
2            28         79         4         1  28079004_1_38  2016    3
3            28         79         4         1  28079004_1_38  2016    4
4            28         79         4         1  28079004_1_38  2016    5
...         ...        ...       ...       ...            ...   ...  ...
1807         28         79        60        14  28079060_14_6  2016    8
1808         28         79        60        14  28079060_14_6  2016    9
1809         28         79        60        14  28079060_14_6  2016   10
1810         28         79        60        14  28079060_14_6  2016   11
1811         28         79        60        14  28079060_14_6  2016   12

       D01 V01   D02  ...   D27  V27   D28  V28   D29  V29   D30  V30   D31  \
0      8.0   V   7.0  ...   9.0    V   7.0    V   8.0    V   9.0    V   9.0
1     12.0   V  13.0  ...   7.0    V   8.0    V   9.0    V   0.0    N   0.0
2     11.0   V  10.0  ...   8.0    V   7.0    V   8.0    V  10.0    V   8.0
3      8.0   V   9.0  ...   9.0    V   8.0    V   8.0    V   8.0    V   0.0
4      7.0   V   8.0  ...   7.0    V   7.0    V   7.0    V   7.0    V   7.0
...    ...  ..   ...  ...   ...  ...   ...  ...   ...  ...   ...  ...   ...
1807  93.0   V  98.0  ...  80.0    V  78.0    V  94.0    V  79.0    V  83.0
1808  85.0   V  78.0  ...  70.0    V  49.0    V  62.0    V  44.0    V   0.0
1809  52.0   V  56.0  ...  26.0    V  24.0    V  26.0    V  43.0    V  28.0
1810  28.0   V  22.0  ...  42.0    V  43.0    V  20.0    V  42.0    V   0.0
1811  37.0   V  18.0  ...  19.0    V  19.0    V  10.0    V  11.0    V  13.0

      V31
0       V
1       N
2       V
3       N
4       V
...   ...
1807    V
1808    N
1809    V
1810    N
1811    V

[1812 rows x 69 columns]

In [25]:
emisiones17 = pd.read_csv(r"C:\Users\Usuario\Downloads\emisiones-2017.csv", sep = ';')
print(emisiones17)

      PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO   ANO  MES  \
0            28         79         4         1  28079004_1_38  2017    1
1            28         79         4         1  28079004_1_38  2017    2
2            28         79         4         1  28079004_1_38  2017    3
3            28         79         4         1  28079004_1_38  2017    4
4            28         79         4         1  28079004_1_38  2017    5
...         ...        ...       ...       ...            ...   ...  ...
1807         28         79        60        14  28079060_14_6  2017    8
1808         28         79        60        14  28079060_14_6  2017    9
1809         28         79        60        14  28079060_14_6  2017   10
1810         28         79        60        14  28079060_14_6  2017   11
1811         28         79        60        14  28079060_14_6  2017   12

       D01 V01   D02  ...   D27  V27   D28  V28   D29  V29   D30  V30   D31  \
0      6.0   V   8.0  ...   5.0    V   4.0    V   4.0    V   5.0    V   7.0
1      8.0   V   4.0  ...   4.0    V   4.0    V   0.0    N   0.0    N   0.0
2      5.0   V   7.0  ...   4.0    V   5.0    V   7.0    V   7.0    V   5.0
3      4.0   V   4.0  ...   3.0    V   4.0    V   4.0    V   4.0    V   0.0
4      4.0   V   5.0  ...   5.0    V   5.0    V   4.0    V   4.0    V   5.0
...    ...  ..   ...  ...   ...  ...   ...  ...   ...  ...   ...  ...   ...
1807  74.0   V  86.0  ...  58.0    V  36.0    V  57.0    V  62.0    V  90.0
1808  77.0   V  76.0  ...  52.0    V  47.0    V  45.0    V  51.0    V   0.0
1809  61.0   V  26.0  ...  41.0    V  55.0    V  61.0    V  43.0    V  44.0
1810  41.0   V  30.0  ...  18.0    V   4.0    V  35.0    V  43.0    V   0.0
1811  56.0   V  52.0  ...  64.0    V  52.0    V  48.0    V  35.0    V  38.0

      V31
0       V
1       N
2       V
3       N
4       V
...   ...
1807    V
1808    N
1809    V
1810    N
1811    V

[1812 rows x 69 columns]

In [26]:
emisiones18 = pd.read_csv(r"C:\Users\Usuario\Downloads\emisiones-2018 1.csv", sep = ';')
print(emisiones18)

      PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO   ANO  MES  \
0            28         79         4         1  28079004_1_38  2018    1
1            28         79         4         1  28079004_1_38  2018    2
2            28         79         4         1  28079004_1_38  2018    3
3            28         79         4         1  28079004_1_38  2018    4
4            28         79         4         1  28079004_1_38  2018    5
...         ...        ...       ...       ...            ...   ...  ...
1801         28         79        60        14  28079060_14_6  2018    8
1802         28         79        60        14  28079060_14_6  2018    9
1803         28         79        60        14  28079060_14_6  2018   10
1804         28         79        60        14  28079060_14_6  2018   11
1805         28         79        60        14  28079060_14_6  2018   12

        D01 V01    D02  ...   D27  V27   D28  V28   D29  V29   D30  V30   D31  \
0       1.0   V    1.0  ...   2.0    V   2.0    V   6.0    V   5.0    V   6.0
1       5.0   V    3.0  ...   3.0    V   2.0    V   0.0    N   0.0    N   0.0
2       1.0   V    2.0  ...   2.0    V   4.0    V   2.0    V   2.0    V   2.0
3       2.0   V    3.0  ...   1.0    V   2.0    V   2.0    V   2.0    V   0.0
4       2.0   V    2.0  ...   2.0    V   2.0    V   3.0    V   2.0    V   2.0
...     ...  ..    ...  ...   ...  ...   ...  ...   ...  ...   ...  ...   ...
1801  104.0   V  102.0  ...  82.0    V  75.0    V  91.0    V  89.0    V  90.0
1802   90.0   V   87.0  ...  69.0    V  51.0    V  79.0    V  77.0    V   0.0
1803   80.0   V   54.0  ...  42.0    V  61.0    V  59.0    V  42.0    V  37.0
1804   28.0   V   49.0  ...  23.0    V   5.0    V   8.0    V  19.0    V   0.0
1805   14.0   V    9.0  ...   5.0    V  20.0    V  31.0    V  32.0    V  17.0

      V31
0       V
1       N
2       V
3       N
4       V
...   ...
1801    V
1802    N
1803    V
1804    N
1805    V

[1806 rows x 69 columns]

In [27]:
emisiones19 = pd.read_csv(r"C:\Users\Usuario\Downloads\emisiones-2019 1.csv", sep = ';')
print(emisiones19)

      PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO   ANO  MES  \
0            28         79         4         1  28079004_1_38  2019    1
1            28         79         4         1  28079004_1_38  2019    2
2            28         79         4         1  28079004_1_38  2019    3
3            28         79         4         1  28079004_1_38  2019    4
4            28         79         4         1  28079004_1_38  2019    5
...         ...        ...       ...       ...            ...   ...  ...
1831         28         79        60        14  28079060_14_6  2019    8
1832         28         79        60        14  28079060_14_6  2019    9
1833         28         79        60        14  28079060_14_6  2019   10
1834         28         79        60        14  28079060_14_6  2019   11
1835         28         79        60        14  28079060_14_6  2019   12

       D01 V01    D02  ...   D27  V27   D28  V28   D29  V29    D30  V30   D31  \
0     18.0   V   20.0  ...  15.0    V  15.0    V  15.0    V   14.0    V  14.0
1     13.0   V   13.0  ...  19.0    V  20.0    V   0.0    N    0.0    N   0.0
2     18.0   V   18.0  ...   6.0    V   7.0    V   6.0    V    4.0    V   4.0
3      3.0   V    4.0  ...   3.0    V   2.0    V   2.0    V    2.0    V   0.0
4      1.0   V    1.0  ...   2.0    V   1.0    V   1.0    V    1.0    V   2.0
...    ...  ..    ...  ...   ...  ...   ...  ...   ...  ...    ...  ...   ...
1831  94.0   V  104.0  ...  88.0    V  90.0    V  99.0    V  108.0    V  98.0
1832  88.0   V   82.0  ...  54.0    V  68.0    V  70.0    V   55.0    V   0.0
1833  44.0   V   75.0  ...  28.0    V  33.0    V  16.0    V   19.0    V  47.0
1834  41.0   V   55.0  ...  55.0    V  52.0    V  47.0    V   56.0    V   0.0
1835  47.0   V   53.0  ...  17.0    V  13.0    V  14.0    V    5.0    V   4.0

      V31
0       V
1       N
2       V
3       N
4       V
...   ...
1831    V
1832    N
1833    V
1834    N
1835    V

[1836 rows x 69 columns]

In [29]:
import pandas as pd
import numpy as np
import datetime as dt

#1 Generar un DataFrame con los datos de los cuatro ficheros

emision = pd.concat([emisiones16, emisiones17, emisiones18, emisiones19])
emision

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

In [30]:
#2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc. 
columnas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in emisiones if col.startswith('D')])
emision = emision[columnas]
emision

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

In [31]:
#3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
emision = emision.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
emision

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

In [32]:
#4.Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
emision['DIA'] = emision.DIA.str.strip('D')
# Concatenamos las columnas del año, mes y día
emision['FECHA'] = emision.ANO.apply(str) + '/' + emision.MES.apply(str) + '/' + emision.DIA.apply(str)
# Convertimos la nueva columna al tipo fecha
emision['FECHA'] = pd.to_datetime(emision.FECHA, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')
emision

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
1              4         1  2016    2  01   12.0 2016-02-01
2              4         1  2016    3  01   11.0 2016-03-01
3              4         1  2016    4  01    8.0 2016-04-01
4              4         1  2016    5  01    7.0 2016-05-01
...          ...       ...   ...  ...  ..    ...        ...
225241        60        14  2019    8  31   98.0 2019-08-31
225242        60        14  2019    9  31    0.0        NaT
225243        60        14  2019   10  31   47.0 2019-10-31
225244        60        14  2019   11  31    0.0        NaT
225245        60        14  2019   12  31    4.0 2019-12-31

[225246 rows x 7 columns]

In [33]:
#5. Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.
emision = emision.drop(emision
                           [np.isnat(emision.FECHA)].index)
emision.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
7266           4         1  2016    1  02    7.0 2016-01-02
14532          4         1  2016    1  03    6.0 2016-01-03
21798          4         1  2016    1  04    6.0 2016-01-04
29064          4         1  2016    1  05    7.0 2016-01-05
...          ...       ...   ...  ...  ..    ...        ...
196181        60        14  2019   12  27   17.0 2019-12-27
203447        60        14  2019   12  28   13.0 2019-12-28
210713        60        14  2019   12  29   14.0 2019-12-29
217979        60        14  2019   12  30    5.0 2019-12-30
225245        60        14  2019   12  31    4.0 2019-12-31

[221158 rows x 7 columns]

In [34]:
#6.Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

print('Estaciones:', emision.ESTACION.unique())
print('Contaminantes:', emision.MAGNITUD.unique())

Estaciones: [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
Contaminantes: [ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

In [35]:
#7. Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones 
#del contaminante dado en la estación y rango de fechas dado.

def evolucion(estacion, contaminante, desde, hasta):
    return emision[(emision.ESTACION == estacion) & (emision.MAGNITUD == contaminante) 
    & (emision.FECHA >= desde) & (emision.FECHA <= hasta)].sort_values('FECHA').VALOR
evolucion(56, 8, dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), 
          dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

179559    89.0
186825    87.0
194091    46.0
201357    38.0
208623    29.0
          ...
57841     82.0
65107     64.0
72373     26.0
79639     59.0
86905     71.0
Name: VALOR, Length: 111, dtype: float64

In [36]:
#8. Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.

emision.groupby('MAGNITUD').VALOR.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

In [37]:
#9. Mostrar un resumen descriptivo para cada contaminente por distritos.

emision.groupby(['ESTACION', 
                   'MAGNITUD']).VALOR.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

In [38]:
#10. Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones 
#del contaminante indicado en la estadión indicada.


def resumen(estacion, contaminante):
    return emision[(emision.ESTACION == estacion)
     & (emision.MAGNITUD == contaminante)].VALOR.describe()


print('Resumen Dióxido de Nitrógeno en Plaza Elíptica:\n'
, resumen(56, 8),'\n', sep='')
print('Resumen Dióxido de Nitrógeno en Plaza del Carmen:\n'
, resumen(35, 8), sep='')

Resumen Dióxido de Nitrógeno en Plaza Elíptica:
count    1461.000000
mean       55.113621
std        21.911483
min         0.000000
25%        39.000000
50%        53.000000
75%        69.000000
max       142.000000
Name: VALOR, dtype: float64

Resumen Dióxido de Nitrógeno en Plaza del Carmen:
count    1461.000000
mean       43.260096
std        16.384656
min         0.000000
25%        32.000000
50%        43.000000
75%        54.000000
max        96.000000
Name: VALOR, dtype: float64

In [40]:
#11.Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
def controlmensual(contaminante, año):
    return emision[(emision.MAGNITUD == contaminante) & (emision.ANO == año)].groupby(['ESTACION', 'MES']).VALOR.mean().unstack('MES')

controlmensual(8, 2018)

MES,1,2,3,4,5,6,7,8,9,10,11,12
ESTACION,,,,,,,,,,,,
4,46.838710,48.285714,31.387097,35.833333,36.387097,37.200000,38.290323,41.225806,53.800000,47.741935,42.833333,55.870968
8,66.612903,63.392857,48.774194,50.866667,48.354839,46.866667,48.806452,44.064516,56.033333,58.193548,57.033333,69.193548
11,53.483871,50.178571,35.516129,34.733333,36.161290,33.500000,34.967742,34.225806,47.266667,46.354839,45.700000,61.709677
16,51.612903,44.892857,32.387097,32.333333,28.419355,25.266667,27.387097,27.161290,35.800000,38.387097,41.500000,54.483871
17,52.677419,49.785714,28.258065,29.900000,27.161290,24.466667,25.709677,30.096774,38.466667,39.935484,37.766667,56.967742
18,47.419355,45.500000,24.838710,25.866667,25.645161,20.533333,22.451613,26.548387,33.633333,38.387097,37.966667,52.612903
24,30.064516,28.142857,11.419355,13.233333,12.645161,12.033333,9.903226,14.290323,21.533333,24.645161,22.966667,35.290323
27,49.677419,44.285714,28.225806,30.566667,27.387097,25.600000,30.000000,32.548387,37.666667,38.096774,39.533333,54.580645
35,51.903226,58.535714,40.967742,42.066667,41.032258,37.766667,32.677419,36.838710,46.566667,48.580645,36.766667,52.612903
36,53.161290,46.607143,31.354839,33.600000,31.387097,28.166667,30.032258,30.483871,39.166667,40.290323,43.300000,59.032258
38,54.129032,54.464286,31.870968,35.166667,36.580645,32.333333,30.000000,28.709677,42.266667,46.290323,42.433333,65.064516
39,52.870968,46.642857,30.516129,31.800000,27.741935,26.700000,27.354839,29.000000,36.833333,45.612903,45.500000,64.354839
40,49.806452,45.464286,29.129032,31.300000,30.290323,27.066667,28.096774,26.032258,33.766667,40.580645,42.133333,58.806452
47,49.548387,47.785714,26.258065,28.300000,27.290323,23.966667,22.193548,27.193548,36.400000,40.677419,38.033333,51.193548
48,50.354839,46.107143,36.741935,35.233333,30.580645,28.400000,29.935484,27.129032,38.566667,41.096774,45.300000,58.419355
49,41.677419,39.607143,23.806452,24.200000,22.516129,20.100000,19.580645,21.064516,28.600000,32.483871,32.900000,44.645161
50,50.290323,52.000000,39.354839,35.933333,31.935484,28.433333,32.032258,25.967742,34.933333,40.451613,45.933333,59.870968
54,47.032258,44.214286,28.741935,32.200000,31.387097,27.800000,27.225806,29.838710,38.066667,41.129032,40.466667,58.419355
55,54.741935,50.035714,31.064516,35.533333,32.258065,30.033333,33.193548,35.483871,43.300000,41.677419,44.766667,62.290323
56,66.935484,66.214286,38.290323,44.633333,45.225806,44.200000,42.161290,49.451613,62.400000,57.225806,50.033333,64.741935
57,46.064516,39.500000,25.096774,24.300000,23.000000,20.366667,19.967742,20.709677,28.733333,34.806452,39.466667,55.645161
58,20.645161,17.964286,9.677419,10.366667,9.516129,10.600000,10.193548,11.741935,16.566667,18.419355,18.633333,25.322581
59,36.064516,30.964286,21.419355,20.433333,18.483871,15.766667,18.064516,17.387097,27.233333,26.806452,31.400000,41.387097
60,44.935484,39.392857,23.225806,24.800000,22.806452,20.466667,19.225806,19.903226,27.866667,27.193548,28.033333,42.193548

In [41]:
#12.Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

def evomensual(contaminante, año):
    return emision[(emision.MAGNITUD == contaminante) & (emision.ANO == año)].groupby(['ESTACION', 'MAGNITUD']).VALOR.mean().unstack('MAGNITUD')

evomensual(8, 2018)

MAGNITUD          8
ESTACION
4         42.936986
8         54.802740
11        42.783562
16        36.600000
17        36.704110
18        33.394521
24        19.635616
27        36.484932
35        43.772603
36        38.849315
38        41.542466
39        38.717808
40        36.838356
47        34.832877
48        38.953425
49        29.210959
50        39.698630
54        37.180822
55        41.156164
56        52.539726
57        31.441096
58        14.956164
59        25.424658
60        28.279452